
html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh
}

.c-scrollbar {
  width: 11px;
  height: 100vh;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  opacity: 0
}

.hoverlink, .move {
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-delay: 0s
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
  transform: scaleX(1.45)
}

.c-scrollbar:hover, .has-scroll-dragging .c-scrollbar, .has-scroll-scrolling .c-scrollbar {
  opacity: 1
}

.c-scrollbar_thumb {
  opacity: .5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

body.home.active {
  overflow: visible
}

.en {
  font-family: Inter, sans-serif
}

.is_pc {
  display: block
}

.hoverlink {
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 2.6s;
  transition-duration: 2.6s;
  transition-delay: 0s;
  opacity: 1
}

.hoverlink:hover {
  opacity: .5
}

.move {
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  transition-delay: 0s;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(.45, 0, .55, 1);
  transition-timing-function: cubic-bezier(.45, 0, .55, 1)
}


.move.show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1
}

#l_wrapper {
  min-width: 1080px;
  overflow: hidden
}

@media screen and (max-width:780px) {
  .is_sp {
    display: block
  }
  .is_pc {
    display: none
  }
  #l_wrapper {
    min-width: 0
  }
}

.all {
  display: block;
  text-align: center;
  margin: 60px auto;
  width: 160px;
  text-decoration: underline!important
}


.mv_getsize {
  display: none
}

@media screen and (max-width:780px) {
  .mv_getsize {
    display: block;
    height: calc(100vh);
    min-height: 500px
  }
}

.pgmv_getsize {
  display: none
}

@media screen and (max-width:780px) {
  .pgmv_getsize {
    display: block;
    height: 156vw;
    max-height: 100vh
  }
}



#PAGEVISUAL {
  box-sizing: border-box;
  width: 100vw;
  height: 38vw;
  padding: 92px 0 0 116px;
  min-width: 1080px;
  min-height: 500px;
  position: relative;
  background-color: #fff;
  margin-bottom: 15%
}

#PAGEVISUAL .onlineShop {
  position: absolute;
  left: 13%;
  bottom: -8%;
  z-index: 200;
  width: 27%;
  max-width: 340px;
  cursor: pointer
} 


#PAGEVISUAL .onlineShop .checkit {
  position: absolute;
  top: -31%;
  font-weight: 600;
  font-size: 11px;
  color: #8686B9;
  letter-spacing: .1em;
  font-style: italic
}

#PAGEVISUAL .onlineShop img {
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  transition-duration: 1s;
  transition-delay: 0s;
  opacity: 1
}

#PAGEVISUAL .onlineShop a, #PAGEVISUAL .onlineShop a:after {
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 1s;
  width: 100%;
  height: 100%
}

#PAGEVISUAL .onlineShop a {
  position: relative;
  display: block;
  z-index: 500;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  transition-duration: 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  cursor: pointer;
  background-color: #fff;
  border-radius: 42px;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1)
}

#PAGEVISUAL .onlineShop a:after, #PAGEVISUAL:after {
  left: 0;
  z-index: 0;
  position: absolute;
  display: block;
  content: ""
}

#PAGEVISUAL .onlineShop a:after {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  transition-duration: 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  top: 0;

  background-size: 100% auto;
  opacity: 0
}

#SHOP .shop .logo-wrap .img-wrap .btn,  .img-wrap {
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-delay: 0s
}

#PAGEVISUAL .onlineShop a:hover {
  background-color: #000;
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9)
}

#PAGEVISUAL .onlineShop a:hover img {
  opacity: 0
}

#PAGEVISUAL .onlineShop a:hover:after {
  opacity: 1
}

#PAGEVISUAL:after {
  background: -webkit-linear-gradient(130deg, #bfd8d2, #fedcd2, #df744a, #dcb239);
  background: linear-gradient(-40deg, #bfd8d2, #fedcd2, #df744a, #dcb239);
  background-size: 150% 150%;
  -webkit-animation: movingGradient 15s ease infinite;
  animation: movingGradient 15s ease infinite;
  width: 92%;
  height: 60%;
  bottom: -21%;
  opacity: .4
}

#PAGEVISUAL .text_container {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff
}

#PAGEVISUAL .text_container .title {
  letter-spacing: .24em;
  font-weight: 900;
  font-size: 23px;
  line-height: .8em;
  margin: 0
}

#PAGEVISUAL .mv_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: #c73e3e
}

#PAGEVISUAL .mv_container:before {
  content: "";
  display: block;
  position: absolute;
  background-size: 100% 100%;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: 100
}

#PAGEVISUAL .mv_container #container_mv {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform
}

#PAGEVISUAL .mv_container #container_mv .mv_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: width;
  z-index: 1000
}

#PAGEVISUAL .breadcrumb {
  position: absolute;
  display: inline-block;
  bottom: -12%;
  right: 13%;
  width: auto;
  white-space: nowrap;
  z-index: 5000;
  font-size: 10px;
  color: #ACACAC
}

#PAGEVISUAL .breadcrumb span {
  display: inline-block;
  margin: 0 5%
}

#PAGEVISUAL .breadcrumb a {
  color: #ACACAC
} 

@media screen and (max-width:780px) {
  #PAGEVISUAL {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 0;
    padding: 13vw 0 0 13vw;
    width: 100%;
    height: 128vw;
    max-height: 82vh
  }
  #PAGEVISUAL .text_container {
    width: 75%
  }
  #PAGEVISUAL .text_container .title {
    font-size: 5vw
  }
  #PAGEVISUAL .onlineShop {
    text-align: center;
    width: 58%;
    left: 5%;
    bottom: 10%
  }
  #PAGEVISUAL .onlineShop a:after {
    background-size: 100% auto;
    background-position: center
  }
  #PAGEVISUAL .onlineShop .checkit {
    position: absolute;
    top: -34%;
    font-weight: 600;
    font-size: 2.2vw
  }
  #PAGEVISUAL:after {
    width: 85%;
    bottom: -11%;
    opacity: .4;
    z-index: 0
  }
  #PAGEVISUAL .breadcrumb {
    bottom: -6.5%;
    right: 26%;
    font-size: 2vw
  }
  #PAGEVISUAL .breadcrumb span {
    margin: 0 5%
  }
}

#SHOP {
  width: 100%
}

#SHOP .title {
  margin-bottom: 4%;
  font-weight: 700;
  letter-spacing: .3em
}

#SHOP .shop {
  position: relative;
  width: 80%;
  min-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto 10%;
  padding: 8% 0;
  color: #fff;
  z-index: 4000;
  background: -webkit-linear-gradient(130deg, #bfd8d2, #fedcd2, #df744a, #dcb239);
  background: linear-gradient(-40deg, #bfd8d2, #fedcd2, #df744a, #dcb239);
  background-size: 150% 150%;
  -webkit-animation: movingGradient 15s ease infinite;
  animation: movingGradient 15s ease infinite;
  text-align: center
}

#SHOP .shop .logo-wrap {
  width: 88%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

#SHOP .shop .logo-wrap .img-wrap {
  width: 17%;
  position: relative
}

#SHOP .shop .logo-wrap .img-wrap .btn {
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: transform, background-color, color;
  transition-property: transform, background-color, color, -webkit-transform;
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  transition-delay: 0s;
  font-size: 15px;
  color: #fff;
  display: block;
  white-space: nowrap;
  border-radius: 28px;
  padding: 14px 0;
  background-color: transparent;
  font-weight: 500;
  border: 1.5px solid #fff;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1)
}

#SHOP .shop .logo-wrap .img-wrap .btn:hover {
  background-color: #fff;
  color: #D1B6DE;
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9)
}

@media screen and (max-width:780px) {
  #SHOP {
    margin-top: 0
  }
  #SHOP .shop {
    width: 87%;
    padding: 16% 0;
    min-width: 0;
    margin-bottom: 8%
  }
  #SHOP .shop .title {
    margin: 0 auto 15%
  }
  #SHOP .shop .logo-wrap {
    display: block;
    width: 66%
  }
  #SHOP .shop .logo-wrap div:nth-last-of-type(1) {
    margin-bottom: 0
  }
  #SHOP .shop .logo-wrap .img-wrap {
    width: 100%;
    margin: 0 auto 14%
  }
  #SHOP .shop .logo-wrap .img-wrap .btn {
    font-size: 3.7vw;
    border-radius: 10vw;
    padding: 8% 0;
    border: 2px solid #fff
  }
}


.index .img-wrap {
  background-size: cover
}




@media screen and (max-width:780px) {

  .title {
    margin-top: 30px
  }
}

.border_container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: .9s;
  transition-duration: .9s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: height
}

.change_dark .circle img, .opening_modal {
  -webkit-transition-property: opacity, -webkit-transform
}

.opening_modal, .opening_modal .white_layer .logo {
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-delay: 0s
}

.border_container.active {
  height: 350%
}

.opening_modal.active {
  opacity: 0
}

.opening_modal .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 34%;
  max-width: 430px;
  opacity: 1
}

@media screen and (max-width:780px) {
  .opening_modal .logo {
    width: 56%
  }
}

.opening_modal .white_layer {
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff
}

.opening_modal .white_layer .logo {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 4.5s;
  transition-duration: 4.5s;
  transition-delay: 0s
}

.languages .language a, .opening_modal .grad_layer {
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-delay: 0s
}

.opening_modal .white_layer .logo.active {
  opacity: 1
}

.opening_modal .grad_layer {
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  will-change: width;
  overflow: hidden;
  -webkit-transition-property: width;
  transition-property: width;
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 1.4s;
  transition-duration: 1.4s;
  transition-delay: 0s
}

.opening_modal .grad_layer .animate_parts {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: -webkit-linear-gradient(130deg, #bfd8d2, #fedcd2, #df744a, #dcb239);
  background: linear-gradient(-40deg, #bfd8d2, #fedcd2, #df744a, #dcb239);
  background-size: 150% 150%;
  -webkit-animation: movingGradient 15s ease infinite;
  animation: movingGradient 15s ease infinite
}



.opening_modal .grad_layer.active {
  width: 100%
}


.change_dark .circle img, .change_dark .switch img {
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-delay: 0s
}





@media screen and (min-width:200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 400px
  }
}

@media screen and (min-width:400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 600px
  }
}

@media screen and (min-width:600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 800px
  }
}

@media screen and (min-width:800px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 1000px
  }
}

@media screen and (min-width:1000px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 1200px
  }
}

@media screen and (min-width:1200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 1400px
  }
}

@media screen and (min-width:1400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 1600px
  }
}

@media screen and (min-width:1600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 1800px
  }
}

@media screen and (min-width:1800px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 2000px
  }
}

@media screen and (min-width:2000px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 2200px
  }
}

@media screen and (min-width:2200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 2400px
  }
}

@media screen and (min-width:2400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 2600px
  }
}

@media screen and (min-width:2600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 2800px
  }
}

@media screen and (min-width:2800px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 3000px
  }
}

@media screen and (min-width:3000px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 3200px
  }
}

@media screen and (min-width:3200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 3400px
  }
}

@media screen and (min-width:3400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 3600px
  }
}

@media screen and (min-width:3600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 3800px
  }
}

@media screen and (min-width:3800px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 4000px
  }
}

@media screen and (min-width:4000px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 4200px
  }
}

@media screen and (min-width:4200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 4400px
  }
}

@media screen and (min-width:4400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 4600px
  }
}

@media screen and (min-width:4600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 4800px
  }
}

@media screen and (min-width:4800px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 5000px
  }
}

@media screen and (min-width:5000px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 5200px
  }
}

@media screen and (min-width:5200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 5400px
  }
}

@media screen and (min-width:5400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 5600px
  }
}

@media screen and (min-width:5600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 5800px
  }
}

@media screen and (min-width:5800px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 6000px
  }
}

@media screen and (min-width:6000px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 6200px
  }
}

@media screen and (min-width:6200px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 6400px
  }
}

@media screen and (min-width:6400px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 6600px
  }
}

@media screen and (min-width:6600px) {
  .Index #MAINVISUAL .mv_container #container_mv .mv_image {
    min-width: 6800px
  }
}

.Index #MAINVISUAL .mv_container #container_mv .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: width;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s
}

.Index #MAINVISUAL .mv_container #container_mv .container.current {
  z-index: 500;
  width: 100%
}

.Index #MAINVISUAL .mv_container #container_mv .container.current .mv_image {
  -webkit-transform: translate(-6%, 0) scale3d(1.13, 1.13, 1.13);
  transform: translate(-6%, 0) scale3d(1.13, 1.13, 1.13)
}

.Index #MAINVISUAL .mv_container #container_mv .container.prev {
  z-index: 400
}

.Index #MAINVISUAL .mv_container #container_mv .container.prev .mv_image {
  -webkit-transform: translate(-6%, 0) scale3d(1.13, 1.13, 1.13);
  transform: translate(-6%, 0) scale3d(1.13, 1.13, 1.13)
}

.Index #MAINVISUAL .mv_container #container_mv .container.next {
  width: 0
}

.Index #MAINVISUAL .mv_container #container_mv div:nth-of-type(1) {
  z-index: 200
}

.Index #MAINVISUAL .mv_container #container_mv div:nth-of-type(1) .mv_image {
  background-size: cover;
  background-position: center;
  background-image: url(../img/logo/IMG_7075.JPG)
}







.Index #SHOP .shop {
  width: 85%
}



.daken .Index .footerNews, .daken .Index .footerNews .close {
  background-color: #fff
}

.daken .Index .footerNews .subject .annotation .event {
  color: #676767
}

.daken .Index .footerNews .viewmoreLink {
  color: #000;
  background-color: #fff
}

.daken .Index #MAINVISUAL, .daken .Index .footerNews .close span:after, .daken .Index .footerNews .close span:before {
  background-color: #000
}

.daken .Index #MAINVISUAL .mv_container #container_mv .mv_image:before {
  opacity: 1
}





@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@-webkit-keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%)
  }
}

@keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%)
  }
}





.item-head {
  padding-top: 10%;
  font-size: 3.7vw
}





.ShopList #PAGEVISUAL .mv_container #container_mv .mv_image {
  background-size: cover;
  background-position: center;
  background-image: url(assets/image/shoplist/mv.png)
}


.News #PAGEVISUAL .mv_container #container_mv .mv_image {
  background-size: cover;
  background-position: center;
  background-image: url(assets/image/news/mv.png)
}

.News .news_container {
  width: 74%;
  margin: 0 auto;
  max-width: 1430px;
  min-width: 1080px
}

.News .news_container:after {
  content: '';
  display: block;
  clear: both
}

.News .LinksContainer {
  width: 22%;
  float: left
}

.News .LinksContainer #NewsCategorys {
  margin-bottom: 17%
}

.News .LinksContainer #NewsCategorys .title {
  font-size: 16px;
  margin-bottom: 7%;
  font-weight: 700
}

.News .LinksContainer #NewsCategorys .categorys .category {
  position: relative;
  margin-left: 16px
}

.News .LinksContainer #NewsCategorys .categorys .category a {
  display: block;
  font-size: 11px;
  margin-bottom: 5%;
  color: #B2B2B2
}

.News .LinksContainer #NewsCategorys .categorys .category.active:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 1px;
  background-color: #B2B2B2;
  left: -16px;
  top: 50%
}

.News .LinksContainer #NewsCategorys .categorys .category.active a {
  color: #000
}

.News .LinksContainer #RelatedBanners .banners .banner {
  position: relative;
  display: block;
  margin-bottom: 11%
}

.News .LinksContainer #RelatedBanners .banners .banner:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .2;
  z-index: 1
}

.News .LinksContainer #RelatedBanners .banners .banner .title {
  position: absolute;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 700;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  color: #fff
}

.News #NewsContents {
  width: 70%;
  float: right;
  color: #000
}

.News #NewsContents .subject {
  margin-bottom: 14%
}

.News #NewsContents .subject .annotation {
  display: inline;
  font-size: 9px
}

.News #NewsContents .subject .annotation .category {
  display: inline-block;
  color: #B2B2B2;
  margin-left: 4%;
  margin-bottom: 2%
}

.News #NewsContents .subject .subjectTitle {
  font-size: 18px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 1%;
  border-bottom: 1px solid #707070;
  margin-bottom: 6%
}

.News #NewsContents .subject .subjectContent, .News #NewsContents .subject .subjectContent p {
  font-size: 12px;
  font-weight: 300;
  line-height: 2em
}

.News #NewsContents .subject .subjectContent a {
  text-decoration: underline
}

.News #NewsContents .subject .subjectContent p, .News #NewsContents .subject img {
  margin-bottom: 7%
}

.News #NewsContents .pagination {
  padding-bottom: 55px;
  margin-bottom: 45px;
  border-bottom: 1px solid #707070
}

.News #NewsContents .pagination .screen-reader-text {
  display: none
}

.News #NewsContents .pagination .nav-links {
  text-align: center;
  font-size: 14px
}

.News #NewsContents .pagination .page-numbers {
  display: inline-block;
  margin-right: 14px;
  position: relative;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  transition-timing-function: cubic-bezier(.2, 1, .2, 1);
  -webkit-transition-duration: 2.6s;
  transition-duration: 2.6s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 1
}

.News #NewsContents .pagination .page-numbers:hover {
  opacity: .5
}

.News #NewsContents .pagination .page-numbers.current {
  color: #B2B2B2
}

.News #NewsContents .pagination .page-numbers:before {
  content: "・";
  display: block;
  position: absolute;
  color: #000;
  top: 4%;
  left: -18px
}

.News #NewsContents .pagination .page-numbers.next:before, .News #NewsContents .pagination .page-numbers.prev:before, .News #NewsContents .pagination .page-numbers:nth-child(1):before {
  display: none
}

.News #NewsContents .pagination .page-numbers.next {
  margin-left: 44px
}

.News #NewsContents .pagination .page-numbers.prev {
  margin-right: 44px
}

.daken #NewsContents .subject .date, .daken #NewsContents .subject .subjectContent, .daken #NewsContents .subject .subjectContent a, .daken #NewsContents .subject .subjectContent a:link, .daken #NewsContents .subject .subjectContent a:visited, .daken #NewsContents .subject .subjectTitle, .daken .News .LinksContainer #NewsCategorys, .daken .News .LinksContainer #NewsCategorys .categorys .category.active a {
  color: #fff
}

@media screen and (max-width:780px) {
  .News .news_container {
    width: 86%;
    margin: 0 auto;
    min-width: 0
  }
  .News #NewsContents, .News .LinksContainer {
    width: 100%;
    float: none
  }
  .News .news_container:after {
    content: '';
    display: block;
    clear: both
  }
  .News #NewsContents .subject {
    margin-bottom: 13%;
    font-size: 3vw;
    font-weight: 300;
    line-height: 6vw
  }
  .News #NewsContents .subject .annotation {
    font-size: 2.2vw
  }
  .News #NewsContents .subject .annotation .category {
    display: inline-block;
    color: #B2B2B2;
    margin-left: 9%;
    margin-bottom: 6%
  }
  .News #NewsContents .subject .subjectTitle {
    font-size: 3.3vw;
    padding-bottom: 2%;
    margin-bottom: 6%
  }
  .News #NewsContents .subject .subjectContent p {
    font-size: 3vw;
    font-weight: 300;
    line-height: 6vw;
    margin-bottom: 13%
  }
  .News #NewsContents .pagination {
    padding-bottom: 0;
    margin: 19% 0;
    border-bottom: none
  }
  .News #NewsContents .pagination .nav-links {
    font-size: 3vw
  }
  .News #NewsContents .pagination .page-numbers {
    margin-right: 4%
  }
  .News #NewsContents .pagination .page-numbers.current {
    color: #B2B2B2
  }
  .News #NewsContents .pagination .page-numbers:before {
    top: 4%;
    font-size: 3vw;
    left: -176%
  }
  .News #NewsContents .pagination .page-numbers.prev {
    margin-right: 8%
  }
  .News #NewsContents .pagination .page-numbers.next {
    margin-left: 8%
  }
  .News .LinksContainer {
    border-top: 1px solid #707070;
    padding-top: 9%
  }
  .News .LinksContainer #NewsCategorys {
    margin: 0 0 11%;
    position: relative
  }
  .News .LinksContainer #NewsCategorys .title {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    font-size: 2.6vw
  }
  .News .LinksContainer #NewsCategorys .categorys .category {
    position: relative;
    margin-left: 39%;
    margin-bottom: 6%
  }
  .News .LinksContainer #NewsCategorys .categorys .category a {
    display: block;
    font-size: 2.6vw;
    margin-bottom: 0;
    color: #B2B2B2
  }
  .News .LinksContainer #NewsCategorys .categorys .category.active:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 1px
  }
  .News .LinksContainer #NewsCategorys .categorys .category.active a {
    color: #000
  }
  .News .LinksContainer #RelatedBanners .banners .banner {
    margin-bottom: 7%
  }
  .News .LinksContainer #RelatedBanners .banners .banner .title {
    font-size: 4vw;
    margin: 0
  }
}








